.container{
    margin-left: 120px;
    
}

.main-text p{
    margin-bottom: 4px;
    color:text-neutral-400;
}

.main-text p > a{
    
    color: #2563eb;
    font-weight: 500;
}

span{
    margin-left: 9px;
}

span a{
    color:#5d6063;
    font-weight: bold;
}

