html, body {
  min-height: 100%;
  min-width: none;
  
}

.container{
    margin-left: 120px;
    font-family: "Inter", sans-serif;
    
    
}

.main-text p{
    margin-bottom: 2px;
    color:text-neutral-400;
}

.main-text p > a{
    
    color: #2563eb;
    font-weight: 500;
}

span{
    margin-left: 9px;
}

span a{
    color:#5d6063;
    font-weight: bold;
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;  
       
    }
  }
  
  .fadeInUp-animation-heading {
    animation: 2s fadeInUp;
  }

 
  @keyframes bgColor {
    0% {
                  
    }
    100% {
      background-color: #fef08a;
      
    }
  }

.animation-text-3{
    animation: 5s bgColor;
}

.animation-text-4{
  animation: 12s bgColor;
}

.animation-text-5{
  animation: 15s bgColor;
}


