.container{
    margin-left: 120px;
    
}

.main-text p{
    margin-bottom: 4px;
    color:text-neutral-400;
}

.main-text p > a{
    
    color: #2563eb;
    font-weight: 500;
}

span{
    margin-left: 9px;
}

span a{
    color:#2563eb
}

.contacts{
    margin-bottom: 2px;
    margin-top: 9px;
}
.contacts p{
    margin-bottom: 1px;
    
}